(
    id: 9106,
    name: "ItemMeshBoots",
    meshes: [
        (
            name: Some("boots"),
            vertices: [(-0.0600, 0.0000, 0.2000), (0.0600, 0.0000, 0.2000), (0.0600, 0.0000, -0.0500), (0.1800, 0.0000, -0.0500), (0.1800, 0.0000, -0.1800), (-0.0600, 0.0000, -0.1800)],
            indices: [0, 1, 5, 1, 2, 5, 2, 4, 5, 2, 3, 4],
            normals: Some([(0.0000, 1.0000, 0.0000), (0.0000, 1.0000, 0.0000), (0.0000, 1.0000, 0.0000), (0.0000, 1.0000, 0.0000), (0.0000, 1.0000, 0.0000), (0.0000, 1.0000, 0.0000)]),
            uvs: None,
            color: (0.72, 0.53, 0.30, 1.00),
            lod_levels: None,
            lod_distances: None,
            material: Some((
                base_color: (0.72, 0.53, 0.30, 1.00),
                metallic: 0.00,
                roughness: 0.80,
                emissive: None,
                alpha_mode: Opaque,
            )),
            texture_path: None,
        ),
    ],
    mesh_transforms: [
        (
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0),
            scale: (1.0, 1.0, 1.0),
        ),
    ],
    scale: 0.3500,
    color_tint: None,
)
