// Goblin
// id:1 | Speed 8, HP 8 | Small cowardly fighter, big ears, rusty dagger
CreatureDefinition(
    name: "Goblin",
    scale: 0.72,
    health: 40.0,
    speed: 6.5,
    meshes: [
        MeshDefinition(
            name: "left_leg",
            vertices: [
                [-0.150, -0.600, -0.100],
                [-0.050, -0.600, -0.100],
                [-0.050, 0.000, -0.100],
                [-0.150, 0.000, -0.100],
                [-0.150, -0.600, 0.050],
                [-0.050, -0.600, 0.050],
                [-0.050, 0.000, 0.050],
                [-0.150, 0.000, 0.050],
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: Some([0.36, 0.50, 0.22, 1.00]),
        ),
        MeshDefinition(
            name: "right_leg",
            vertices: [
                [0.050, -0.600, -0.100],
                [0.150, -0.600, -0.100],
                [0.150, 0.000, -0.100],
                [0.050, 0.000, -0.100],
                [0.050, -0.600, 0.050],
                [0.150, -0.600, 0.050],
                [0.150, 0.000, 0.050],
                [0.050, 0.000, 0.050],
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: Some([0.36, 0.50, 0.22, 1.00]),
        ),
        MeshDefinition(
            name: "torso",
            vertices: [
                [-0.200, 0.000, -0.150],
                [0.200, 0.000, -0.150],
                [0.200, 0.500, -0.150],
                [-0.200, 0.500, -0.150],
                [-0.200, 0.000, 0.120],
                [0.200, 0.000, 0.120],
                [0.200, 0.500, 0.120],
                [-0.200, 0.500, 0.120],
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: Some([0.36, 0.50, 0.22, 1.00]),
        ),
        MeshDefinition(
            name: "rib_0",
            vertices: [
                [-0.220, 0.180, 0.122],
                [0.220, 0.180, 0.122],
                [-0.220, 0.240, 0.122],
                [0.220, 0.240, 0.122],
            ],
            normals: Some([
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
            ]),
            uvs: None,
            indices: [
                0, 1, 2, 0, 2, 3,
            ],
            color: Some([0.28, 0.42, 0.16, 1.00]),
        ),
        MeshDefinition(
            name: "rib_1",
            vertices: [
                [-0.220, 0.340, 0.122],
                [0.220, 0.340, 0.122],
                [-0.220, 0.400, 0.122],
                [0.220, 0.400, 0.122],
            ],
            normals: Some([
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
            ]),
            uvs: None,
            indices: [
                0, 1, 2, 0, 2, 3,
            ],
            color: Some([0.28, 0.42, 0.16, 1.00]),
        ),
        MeshDefinition(
            name: "rib_2",
            vertices: [
                [-0.220, 0.500, 0.122],
                [0.220, 0.500, 0.122],
                [-0.220, 0.560, 0.122],
                [0.220, 0.560, 0.122],
            ],
            normals: Some([
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
            ]),
            uvs: None,
            indices: [
                0, 1, 2, 0, 2, 3,
            ],
            color: Some([0.28, 0.42, 0.16, 1.00]),
        ),
        MeshDefinition(
            name: "left_arm",
            vertices: [
                [-0.360, 0.100, -0.100],
                [-0.270, 0.100, -0.100],
                [-0.270, 0.650, -0.100],
                [-0.360, 0.650, -0.100],
                [-0.360, 0.100, 0.050],
                [-0.270, 0.100, 0.050],
                [-0.270, 0.650, 0.050],
                [-0.360, 0.650, 0.050],
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: Some([0.36, 0.50, 0.22, 1.00]),
        ),
        MeshDefinition(
            name: "right_arm",
            vertices: [
                [0.270, 0.100, -0.100],
                [0.360, 0.100, -0.100],
                [0.360, 0.650, -0.100],
                [0.270, 0.650, -0.100],
                [0.270, 0.100, 0.050],
                [0.360, 0.100, 0.050],
                [0.360, 0.650, 0.050],
                [0.270, 0.650, 0.050],
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: Some([0.36, 0.50, 0.22, 1.00]),
        ),
        MeshDefinition(
            name: "head",
            vertices: [
                [-0.180, 0.520, -0.170],
                [0.180, 0.520, -0.170],
                [0.180, 0.800, -0.170],
                [-0.180, 0.800, -0.170],
                [-0.180, 0.520, 0.070],
                [0.180, 0.520, 0.070],
                [0.180, 0.800, 0.070],
                [-0.180, 0.800, 0.070],
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: Some([0.36, 0.50, 0.22, 1.00]),
        ),
        MeshDefinition(
            name: "left_ear",
            vertices: [
                [-0.170, 1.080, -0.080],
                [-0.170, 0.900, -0.080],
                [-0.380, 0.990, -0.120],
            ],
            normals: Some([
                [-1.000, 0.000, 1.000],
                [-1.000, 0.000, 1.000],
                [-1.000, 0.000, 1.000],
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: Some([0.36, 0.50, 0.22, 1.00]),
        ),
        MeshDefinition(
            name: "right_ear",
            vertices: [
                [0.170, 1.080, -0.080],
                [0.170, 0.900, -0.080],
                [0.380, 0.990, -0.120],
            ],
            normals: Some([
                [1.000, 0.000, 1.000],
                [1.000, 0.000, 1.000],
                [1.000, 0.000, 1.000],
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: Some([0.36, 0.50, 0.22, 1.00]),
        ),
        MeshDefinition(
            name: "left_eye",
            vertices: [
                [-0.120, 0.720, 0.071],
                [-0.040, 0.720, 0.071],
                [-0.120, 0.780, 0.071],
                [-0.040, 0.780, 0.071],
            ],
            normals: Some([
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
            ]),
            uvs: None,
            indices: [
                0, 1, 2, 0, 2, 3,
            ],
            color: Some([0.88, 0.78, 0.10, 1.00]),
        ),
        MeshDefinition(
            name: "right_eye",
            vertices: [
                [0.040, 0.720, 0.071],
                [0.120, 0.720, 0.071],
                [0.040, 0.780, 0.071],
                [0.120, 0.780, 0.071],
            ],
            normals: Some([
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
            ]),
            uvs: None,
            indices: [
                0, 1, 2, 0, 2, 3,
            ],
            color: Some([0.88, 0.78, 0.10, 1.00]),
        ),
        MeshDefinition(
            name: "left_tusk",
            vertices: [
                [-0.060, 0.820, 0.070],
                [-0.020, 0.820, 0.070],
                [-0.040, 0.700, 0.110],
            ],
            normals: Some([
                [0.000, -1.000, 1.000],
                [0.000, -1.000, 1.000],
                [0.000, -1.000, 1.000],
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: Some([0.92, 0.88, 0.78, 1.00]),
        ),
        MeshDefinition(
            name: "right_tusk",
            vertices: [
                [0.020, 0.820, 0.070],
                [0.060, 0.820, 0.070],
                [0.040, 0.700, 0.110],
            ],
            normals: Some([
                [0.000, -1.000, 1.000],
                [0.000, -1.000, 1.000],
                [0.000, -1.000, 1.000],
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: Some([0.92, 0.88, 0.78, 1.00]),
        ),
        MeshDefinition(
            name: "loincloth_f",
            vertices: [
                [-0.180, 0.000, 0.130],
                [0.180, 0.000, 0.130],
                [-0.140, -0.240, 0.100],
                [0.140, -0.240, 0.100],
            ],
            normals: Some([
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
                [0.000, 0.000, 1.000],
            ]),
            uvs: None,
            indices: [
                0, 1, 2, 0, 2, 3,
            ],
            color: Some([0.36, 0.28, 0.18, 1.00]),
        ),
        MeshDefinition(
            name: "loincloth_b",
            vertices: [
                [-0.180, 0.000, -0.140],
                [0.180, 0.000, -0.140],
                [-0.140, -0.240, -0.110],
                [0.140, -0.240, -0.110],
            ],
            normals: Some([
                [0.000, 0.000, -1.000],
                [0.000, 0.000, -1.000],
                [0.000, 0.000, -1.000],
                [0.000, 0.000, -1.000],
            ]),
            uvs: None,
            indices: [
                0, 1, 2, 0, 2, 3,
            ],
            color: Some([0.36, 0.28, 0.18, 1.00]),
        ),
        MeshDefinition(
            name: "dagger",
            vertices: [
                [0.500, 0.000, -0.050],
                [0.530, 0.000, -0.050],
                [0.530, 0.380, -0.050],
                [0.500, 0.380, -0.050],
                [0.500, 0.000, -0.010],
                [0.530, 0.000, -0.010],
                [0.530, 0.380, -0.010],
                [0.500, 0.380, -0.010],
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: Some([0.46, 0.34, 0.26, 1.00]),
        ),
    ],
)
