// SPDX-FileCopyrightText: 2025 Brett Smith <xbcsmith@gmail.com>
// SPDX-License-Identifier: Apache-2.0

// Lich
// id:31 | Intellect 22, HP 150, undead, fire/cold/elec immune, Drain | Necromancer lich
CreatureDefinition(
    id: 31,
    name: "Lich",
    scale: 1.05,    meshes: [
        MeshDefinition(
            name: Some("left_leg"),
            vertices: [
                (-0.150, -1.000, -0.100),
                (-0.050, -1.000, -0.100),
                (-0.050, 0.000, -0.100),
                (-0.150, 0.000, -0.100),
                (-0.150, -1.000, 0.050),
                (-0.050, -1.000, 0.050),
                (-0.050, 0.000, 0.050),
                (-0.150, 0.000, 0.050),
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: (0.16, 0.12, 0.26, 1.00),
        ),
        MeshDefinition(
            name: Some("right_leg"),
            vertices: [
                (0.050, -1.000, -0.100),
                (0.150, -1.000, -0.100),
                (0.150, 0.000, -0.100),
                (0.050, 0.000, -0.100),
                (0.050, -1.000, 0.050),
                (0.150, -1.000, 0.050),
                (0.150, 0.000, 0.050),
                (0.050, 0.000, 0.050),
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: (0.16, 0.12, 0.26, 1.00),
        ),
        MeshDefinition(
            name: Some("torso"),
            vertices: [
                (-0.320, 0.000, -0.150),
                (0.320, 0.000, -0.150),
                (0.320, 0.880, -0.150),
                (-0.320, 0.880, -0.150),
                (-0.320, 0.000, 0.120),
                (0.320, 0.000, 0.120),
                (0.320, 0.880, 0.120),
                (-0.320, 0.880, 0.120),
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: (0.16, 0.12, 0.26, 1.00),
        ),
        MeshDefinition(
            name: Some("robe_trim_bot"),
            vertices: [
                (-0.320, 0.020, 0.122),
                (0.320, 0.020, 0.122),
                (-0.320, 0.080, 0.122),
                (0.320, 0.080, 0.122),
            ],
            normals: Some([
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2, 0, 2, 3,
            ],
            color: (0.38, 0.28, 0.58, 1.00),
        ),
        MeshDefinition(
            name: Some("robe_trim_top"),
            vertices: [
                (-0.320, 0.800, 0.122),
                (0.320, 0.800, 0.122),
                (-0.320, 0.860, 0.122),
                (0.320, 0.860, 0.122),
            ],
            normals: Some([
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2, 0, 2, 3,
            ],
            color: (0.38, 0.28, 0.58, 1.00),
        ),
        MeshDefinition(
            name: Some("left_sleeve"),
            vertices: [
                (-0.600, 0.120, -0.140),
                (-0.280, 0.120, -0.140),
                (-0.280, 0.800, -0.140),
                (-0.600, 0.800, -0.140),
                (-0.600, 0.120, 0.060),
                (-0.280, 0.120, 0.060),
                (-0.280, 0.800, 0.060),
                (-0.600, 0.800, 0.060),
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: (0.16, 0.12, 0.26, 1.00),
        ),
        MeshDefinition(
            name: Some("right_sleeve"),
            vertices: [
                (0.280, 0.120, -0.140),
                (0.600, 0.120, -0.140),
                (0.600, 0.800, -0.140),
                (0.280, 0.800, -0.140),
                (0.280, 0.120, 0.060),
                (0.600, 0.120, 0.060),
                (0.600, 0.800, 0.060),
                (0.280, 0.800, 0.060),
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: (0.16, 0.12, 0.26, 1.00),
        ),
        MeshDefinition(
            name: Some("left_hand"),
            vertices: [
                (-0.620, 0.060, -0.080),
                (-0.520, 0.060, -0.080),
                (-0.520, 0.180, -0.080),
                (-0.620, 0.180, -0.080),
                (-0.620, 0.060, 0.000),
                (-0.520, 0.060, 0.000),
                (-0.520, 0.180, 0.000),
                (-0.620, 0.180, 0.000),
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: (0.88, 0.86, 0.78, 1.00),
        ),
        MeshDefinition(
            name: Some("right_hand"),
            vertices: [
                (0.520, 0.060, -0.080),
                (0.620, 0.060, -0.080),
                (0.620, 0.180, -0.080),
                (0.520, 0.180, -0.080),
                (0.520, 0.060, 0.000),
                (0.620, 0.060, 0.000),
                (0.620, 0.180, 0.000),
                (0.520, 0.180, 0.000),
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: (0.88, 0.86, 0.78, 1.00),
        ),
        MeshDefinition(
            name: Some("skull"),
            vertices: [
                (-0.170, 0.900, -0.160),
                (0.170, 0.900, -0.160),
                (0.170, 1.180, -0.160),
                (-0.170, 1.180, -0.160),
                (-0.170, 0.900, 0.050),
                (0.170, 0.900, 0.050),
                (0.170, 1.180, 0.050),
                (-0.170, 1.180, 0.050),
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: (0.88, 0.86, 0.78, 1.00),
        ),
        MeshDefinition(
            name: Some("left_socket"),
            vertices: [
                (-0.140, 0.980, 0.052),
                (-0.080, 0.980, 0.052),
                (-0.140, 1.060, 0.052),
                (-0.080, 1.060, 0.052),
            ],
            normals: Some([
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2, 0, 2, 3,
            ],
            color: (0.08, 0.06, 0.12, 1.00),
        ),
        MeshDefinition(
            name: Some("right_socket"),
            vertices: [
                (0.080, 0.980, 0.052),
                (0.140, 0.980, 0.052),
                (0.080, 1.060, 0.052),
                (0.140, 1.060, 0.052),
            ],
            normals: Some([
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2, 0, 2, 3,
            ],
            color: (0.08, 0.06, 0.12, 1.00),
        ),
        MeshDefinition(
            name: Some("left_eye"),
            vertices: [
                (-0.140, 0.990, 0.071),
                (-0.080, 0.990, 0.071),
                (-0.140, 1.050, 0.071),
                (-0.080, 1.050, 0.071),
            ],
            normals: Some([
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2, 0, 2, 3,
            ],
            color: (0.62, 0.26, 0.90, 1.00),
        ),
        MeshDefinition(
            name: Some("right_eye"),
            vertices: [
                (0.080, 0.990, 0.071),
                (0.140, 0.990, 0.071),
                (0.080, 1.050, 0.071),
                (0.140, 1.050, 0.071),
            ],
            normals: Some([
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2, 0, 2, 3,
            ],
            color: (0.62, 0.26, 0.90, 1.00),
        ),
        MeshDefinition(
            name: Some("crown_band"),
            vertices: [
                (-0.190, 1.170, -0.160),
                (0.190, 1.170, -0.160),
                (0.190, 1.220, -0.160),
                (-0.190, 1.220, -0.160),
                (-0.190, 1.170, 0.060),
                (0.190, 1.170, 0.060),
                (0.190, 1.220, 0.060),
                (-0.190, 1.220, 0.060),
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: (0.84, 0.70, 0.26, 1.00),
        ),
        MeshDefinition(
            name: Some("crown_0"),
            vertices: [
                (-0.170, 1.180, -0.140),
                (-0.110, 1.180, -0.140),
                (-0.140, 1.400, -0.160),
            ],
            normals: Some([
                (0.000, 1.000, 1.000),
                (0.000, 1.000, 1.000),
                (0.000, 1.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: (0.84, 0.70, 0.26, 1.00),
        ),
        MeshDefinition(
            name: Some("crown_1"),
            vertices: [
                (-0.070, 1.180, -0.140),
                (-0.010, 1.180, -0.140),
                (-0.040, 1.400, -0.160),
            ],
            normals: Some([
                (0.000, 1.000, 1.000),
                (0.000, 1.000, 1.000),
                (0.000, 1.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: (0.84, 0.70, 0.26, 1.00),
        ),
        MeshDefinition(
            name: Some("crown_2"),
            vertices: [
                (0.010, 1.180, -0.140),
                (0.070, 1.180, -0.140),
                (0.040, 1.400, -0.160),
            ],
            normals: Some([
                (0.000, 1.000, 1.000),
                (0.000, 1.000, 1.000),
                (0.000, 1.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: (0.84, 0.70, 0.26, 1.00),
        ),
        MeshDefinition(
            name: Some("crown_3"),
            vertices: [
                (0.110, 1.180, -0.140),
                (0.170, 1.180, -0.140),
                (0.140, 1.400, -0.160),
            ],
            normals: Some([
                (0.000, 1.000, 1.000),
                (0.000, 1.000, 1.000),
                (0.000, 1.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: (0.84, 0.70, 0.26, 1.00),
        ),
        MeshDefinition(
            name: Some("staff"),
            vertices: [
                (0.520, 0.000, -0.060),
                (0.560, 0.000, -0.060),
                (0.560, 1.760, -0.060),
                (0.520, 1.760, -0.060),
                (0.520, 0.000, -0.020),
                (0.560, 0.000, -0.020),
                (0.560, 1.760, -0.020),
                (0.520, 1.760, -0.020),
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: (0.18, 0.12, 0.22, 1.00),
        ),
        MeshDefinition(
            name: Some("staff_orb"),
            vertices: [
                (0.440, 1.740, -0.100),
                (0.640, 1.740, -0.100),
                (0.640, 1.940, -0.100),
                (0.440, 1.940, -0.100),
                (0.440, 1.740, 0.040),
                (0.640, 1.740, 0.040),
                (0.640, 1.940, 0.040),
                (0.440, 1.940, 0.040),
            ],
            normals: None,
            uvs: None,
            indices: [
                0, 1, 2, 2, 3, 0, 1, 5, 6, 6, 2, 1,
                7, 6, 5, 5, 4, 7, 4, 0, 3, 3, 7, 4,
                4, 5, 1, 1, 0, 4, 3, 2, 6, 6, 7, 3,
            ],
            color: (0.60, 0.25, 0.90, 0.88),
        ),
        MeshDefinition(
            name: Some("aura_0"),
            vertices: [
                (-0.400, 0.500, 0.180),
                (-0.240, 0.500, 0.180),
                (-0.320, 0.660, 0.180),
            ],
            normals: Some([
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: (0.50, 0.18, 0.72, 0.55),
        ),
        MeshDefinition(
            name: Some("aura_1"),
            vertices: [
                (0.200, 0.660, 0.180),
                (0.360, 0.660, 0.180),
                (0.280, 0.820, 0.180),
            ],
            normals: Some([
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: (0.50, 0.18, 0.72, 0.55),
        ),
        MeshDefinition(
            name: Some("aura_2"),
            vertices: [
                (-0.080, 1.060, 0.160),
                (0.080, 1.060, 0.160),
                (0.000, 1.220, 0.160),
            ],
            normals: Some([
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: (0.50, 0.18, 0.72, 0.55),
        ),
        MeshDefinition(
            name: Some("aura_3"),
            vertices: [
                (0.100, 0.280, 0.190),
                (0.260, 0.280, 0.190),
                (0.180, 0.440, 0.190),
            ],
            normals: Some([
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: (0.50, 0.18, 0.72, 0.55),
        ),
        MeshDefinition(
            name: Some("aura_0"),
            vertices: [
                (-0.400, 0.500, 0.180),
                (-0.240, 0.500, 0.180),
                (-0.320, 0.660, 0.180),
            ],
            normals: Some([
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: (0.28, 0.72, 0.36, 0.55),
        ),
        MeshDefinition(
            name: Some("aura_1"),
            vertices: [
                (0.200, 0.660, 0.180),
                (0.360, 0.660, 0.180),
                (0.280, 0.820, 0.180),
            ],
            normals: Some([
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
                (0.000, 0.000, 1.000),
            ]),
            uvs: None,
            indices: [
                0, 1, 2,
            ],
            color: (0.28, 0.72, 0.36, 0.55),
        ),
    ],
    mesh_transforms: [
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0)),
        MeshTransform(translation: (0.0, 0.0, 0.0), rotation: (0.0, 0.0, 0.0), scale: (1.0, 1.0, 1.0))
    ],
    color_tint: None,
)
